<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}Slot Machine{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style2.css') }}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>

</head>
<body>

<header>
    <nav class="navbar">
        <div class="navbar-left">
            <!-- Logout button -->
                <span class="saldo-display">Saldo: ${{ saldo }}</span>
                <span class="people-display"> Online: {{ online_people }} people</span>
                <button class="bonus-btn"><a href="/ranking">Ranking</a></button>
        </div>

        <div><button class="go-gaming"><a href="/main">SLUGGER TIME !!!!!</a></button></div>

        <div class="navbar-right">
            <div class="loggings">
                <button type="submit" class="btn-logout"><a href="/logout">Logout</a></button>
                <a class="profile-ref" href="/profile">
                    <img src="../static/public/profile.webp" alt="nice profile pic" class="ref-profile">
                </a>
            </div>
            <div class="bonus-section">
              <button id="collect-bonus" class="bonus-btn">Collect $300 Bonus</button>
              <p class="bonus-info"></p>
            </div>
        </div>
    </nav>
</header>

<div class="content">
    <div id="winner-message" style="position: fixed; top: 18%; left: 2%; z-index: 1000;"></div>
    {% block content %}{% endblock %}
</div>
<script src="../static/js/index.js"></script>
<script src="../static/js/script.js"></script>
<script src="../static/js/http.js"></script>
<script src="../static/js/socket.js"></script>
</body>
</html>
